:root {
  --primary-color: #1e1169;
  --secondary-color: #ff507d;
  --error-color: #d20019;
  --font-color: #353555;
  --font-color-light: #f7f7fc;
  --font-color-secondary: #59598d;
  --font-color-thirdary: #05005a;
  --font-color-inverted: #fff;
  --placeholder-color: #6e6e78;
  --input-border-color: #c8c8cd;
  --menu-hover-color: #28dcf0;
  --yellow: #ffd214;
  --default-font: "nunito", Arial, sans-serif;
  --default-font-500: "nunito", Arial, sans-serif;
  --notification-success-color: #0f8246;
  --notification-error-color: #d20019;
  --border-color: rgba(30, 17, 105, 0.1);
  --highlight: rgba(255, 255, 255, 0.6);
  --default-background: #fff;
  --light-background: rgba(30, 17, 105, 0.07);
  --breadcrumbs: rgba(30, 17, 105, 0.5);
  --shadow: rgba(0, 0, 0, 0.06);
  --tabs-border: #e6e6f0;
  --tabs-background: rgba(230, 240, 240, 0.5);
  --modal-backdrop: rgba(0, 0, 0, 0.5);
  --modal-shadow: rgba(201, 211, 223, 0.2);
  --nav-separator: #d8d8d8;

  /* République Française styling */
  --rf-default-font: "Marianne", arial, sans-serif;
  --w-g750: #fff;
  --g700: #383838;
  --g600: #6a6a6a;
  --g400: #cecece;
  --bf500: #000091;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-bold-webfont.woff2") format("woff2"),
    url("../fonts/nunito-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-semibold-webfont.woff2") format("woff2"),
    url("../fonts/nunito-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-medium-webfont.woff2") format("woff2"),
    url("../fonts/nunito-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-light-webfont.woff2") format("woff2"),
    url("../fonts/nunito-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%; /* 10px */
}
body {
  overflow-x: hidden;
}
body.is-blocked {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
  padding-right: 3%;
  padding-left: 3%;
}

/* LAYOUTS */
[class*="cols_"] {
  display: flex;
  flex-wrap: wrap;
}
.cols_height-four > div:first-of-type,
.cols_height-four > div.active:not(.tab-headers) {
  width: 66.6666%;
  padding-right: 3.2rem;
}
.cols_height-four > div:last-of-type {
  width: 33.3333%;
  padding-left: 4rem;
  border-left: 1px solid var(--border-color);
}

.cols_seven-five > div:first-child {
  width: calc((100% / 12) * 7);
}
.cols_seven-five > div:last-of-type {
  width: calc((100% / 12) * 5);
  padding-left: 3.2rem;
}

.content {
  order: 2;
  width: 100%;
  max-width: 112rem;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5 {
  font-family: "montserrat", Arial, sans-serif;
  color: var(--font-color-thirdary);
  margin-bottom: 0;
}

h1 {
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 1.25;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-weight: bold;
  font-size: 2.2rem;
}
h4 {
  margin-bottom: 2.4rem;
  font-weight: bold;
  font-size: 2rem;
}
h5 {
  font-size: 2rem;
}

/* LINKS & BUTTONS */
a {
  color: var(--font-color-thirdary);
  text-decoration: underline;
}

button {
  background: none;
  border: none;
}

.btn,
.button {
  display: inline-block;
  padding: 1.3rem 2rem;
  font-family: "montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
  color: var(--font-color-inverted);
  background-color: var(--primary-color);
  border-radius: 2.5rem;
  cursor: pointer;
}
.btn:hover,
.button:hover {
  color: var(--font-color-inverted);
  text-decoration: none;
}

button:disabled {
  opacity: 0.5;
}

.btn--secondary {
  background-color: var(--secondary-color);
}

/* LISTS */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* FORMS */
label,
legend {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}
label {
  display: block;
}

textarea,
input {
  width: 100%;
  background-color: var(--default-background);
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
}
textarea {
  height: 32rem;
  padding: 0.8rem 2.4rem;
}
input {
  padding: 0.8rem 2rem;
}

::placeholder {
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--placeholder-color);
}

[type="radio"]:not(:checked),
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="checkbox"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="checkbox"]:checked + label {
  display: inline-block;
  position: relative;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  font-family: var(--default-font);
  font-weight: 500;
  line-height: 2;
  text-transform: none;
  border-radius: 12px;
  cursor: pointer;
}
[type="radio"]:not(:checked) + label:not(:first-of-type),
[type="checkbox"]:not(:checked) + label:not(:first-of-type),
[type="radio"]:checked + label:not(:first-of-type),
[type="checkbox"]:checked + label:not(:first-of-type) {
  margin-left: 0.8rem;
}
[type="radio"]:not(:checked) + label,
[type="checkbox"]:not(:checked) + label {
  background-color: var(--light-background);
}
[type="radio"]:checked + label,
[type="checkbox"]:checked + label {
  color: var(--font-color-inverted);
  background-color: var(--primary-color);
}

video,
canvas,
embed {
  width: 100%;
}
img {
  max-width: 100%;
}

.form-errors li {
  color: var(--error-color);
  padding: 0.5em;
}
.form-errors li img {
  vertical-align: text-top;
}
summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
summary::-webkit-details-marker {
  display: none;
}
summary::after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: auto;
  background: url(../images/icons/24x24/arrow_left_24_purple.svg);
  background-size: contain;
  transform: rotate(90deg);
}
details[open] summary::after {
  transform: rotate(-90deg);
}

/* RF */
[class*=" rf-"],
[class^="rf-"] {
  box-sizing: border-box;
  font-family: var(--rf-default-font);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*=" rf-"] * :not([class^="rf-"]):not([class*=" rf-"]),
[class^="rf-"] * :not([class^="rf-"]):not([class*=" rf-"]) {
  box-sizing: inherit;
}
.rf-container {
  padding: 0 4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.rf-logo__image--custom {
  height: 10.2rem;
}

/* RF-HEADER */
.rf-header {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1),
    0 8px 16px -16px rgba(0, 0, 0, 0.32);
  background-color: var(--w-g750);
  padding: 0;
  position: relative;
}
.rf-header a {
  text-decoration: none;
  box-shadow: none;
}
.rf-header__body {
  margin: 0;
  padding: 2.4rem 0 4.2rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.rf-header__logo {
  display: block;
  width: 10.4rem;
  margin-left: 3.2rem;
}
.rf-header__nav ul {
  display: flex;
  margin-left: 3.2rem;
}
.rf-header__nav li {
  display: flex;
}
.rf-header__nav li:not(:first-of-type) {
  margin-left: 1.6rem;
}
.rf-header__nav li::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  margin-left: 1.6rem;
  background-color: var(--nav-separator);
}
.rf-header__nav a {
  position: relative;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}
.rf-header__nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1.2rem;
  left: 0;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.8rem auto 0;
  background-color: transparent;
  border-radius: 50%;
}
.rf-header__nav a.active {
  font-weight: bold;
}
.rf-header__nav a.active::after {
  background-color: var(--menu-hover-color);
}
.rf-header__actions {
  margin-left: auto;
}
.rf-header__actions a {
  margin-left: 2.4rem;
}
.search__group,
.search__group div {
  display: flex;
  align-items: center;
}
.search__group input {
  /*display: none;*/
}

.search_view {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: 3;
}
.search_view .content {
  flex-wrap: wrap;
  max-width: 50%;
  margin: 0 auto
}
.search_view .content > div {
  width: 100%;
}
.search_view h1 {
  flex-basis: 100%;
  font-size: 4rem;
  color: #fff;
}
.search_view [type="search"] {
  font-size: 2.8rem;
  color: #fff;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-width: 2px;
}
.search_view .btn {
  margin-left: 4.8rem;
  color: var(--primary-color);
  background-color: #fff;
}
.search__close {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  color: #fff;
}
.search__close div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  margin-left: 1.6rem;
  background-color: #fff;
  border-radius: 50%;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  background: var(--primary-color);
  z-index: 3;
  overflow-y: scroll;
}
.mobile-menu.opened {
  display: flex;
}
.mobile-menu nav,
.mobile-menu > div {
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  font-size: 1.8rem;
}
.mobile-menu > nav {
  border: none;
}
.mobile-menu > nav::before {
  display: none;
}
.mobile-menu > nav::after,
.mobile-menu > div nav:first-of-type::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--default-background);
}
.mobile-menu > nav::after {
  position: relative;
}
.mobile-menu > div nav:first-of-type::after {
  left: 0;
}
.mobile-menu > div {
  align-items: flex-start;
}
.mobile-menu > div:first-child {
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3.2rem;
  padding-left: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}
.close-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  margin-left: auto;
  padding: 0;
  background-color: var(--default-background);
}
.mobile-menu h3 {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: none;
}
header .mobile-menu a:last-of-type {
  margin-left: 0;
}
.mobile-menu nav:first-of-type {
  padding-bottom: 0;
}
.mobile-menu nav a {
  margin-bottom: 1.6rem;
}
.mobile-menu nav a:hover {
  font-weight: inherit;
}
.mobile-menu nav a::after {
  display: none;
}
.mobile-menu form {
  border-left: 0.4rem solid transparent;
}
.mobile-menu .search_button {
  margin-right: 0.8rem;
  padding-right: 0;
  padding-left: 2.4rem;
}
.mobile-menu .search__group input {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.menu-opener {
  align-items: center;
  padding: 0;
  font-size: 1.4rem;
  background: none;
  position: absolute;
  top: 30px;
  right: 32px;
}
.menu-opener,
.menu-opener:hover {
  color: var(--primary-color);
}

.menu-opener div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.8rem;
}
.menu-opener div::before,
.menu-opener div::after,
.menu-opener span {
  display: block;
  width: 1.6rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  border-radius: 3px;
}
.menu-opener div::before,
.menu-opener div::after {
  content: "";
}
.menu-opener div::before {
  margin-bottom: 4px;
}
.menu-opener div::after {
  margin-top: 4px;
}

/* FOOTER */
footer {
  width: 100%;
  font-size: 1.2rem;
  padding: 3.2rem 0 2.4rem;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
}
.rf-footer__body {
  display: flex;
  margin-bottom: 5rem;
}
.rf-footer__brand {
  align-items: flex-start;
  flex-basis: calc(100% / 3);
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rf-footer__brand-link {
  align-items: flex-start;
  background-color: white;
  flex-basis: calc(100% / 3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.rf-footer__brand-link img {
  margin: 0 auto;
  width: 200px;
}
.rf-footer__content {
  margin-top: 0;
  flex-basis: calc(100% - (100% / 3));
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.rf-footer__content-links {
  display: flex;
}
.rf-footer__content-links li:not(:last-of-type) {
  margin-right: 1.6rem;
}
.rf-footer__content-links li a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
}
.rf-footer__bottom {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1.6rem 0 0;
  color: var(--g600);
  border-top: 1px solid var(--g400);
}
.rf-footer__bottom a {
  color: var(--g700);
}
.rf-footer__bottom-list {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
}
.rf-footer__bottom-list li {
  display: inline;
  padding: 0 1.5em 0 0;
  font-size: 1.2rem;
}
.rf-footer__bottom-list li a {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rf-footer__bottom-copy {
  max-width: 100%;
  margin-top: 0;
  margin-left: 2rem;
  flex-shrink: 0;
}

/* MAIN */
main {
  display: grid;
  grid-template-columns: 30.4rem minmax(0, 1fr);
  grid-gap: 5.6rem;
  min-height: 100vh;
  padding: 6.4rem 4rem 12.8rem;
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--font-color-light);
}

/* ASIDE */
aside {
  order: 1;
  width: 30.4rem;
  font-size: 1.4rem;
  color: var(--primary-color);
}
aside:empty {
  display: none;
}
aside nav {
  width: 100%;
  background-color: var(--w-g750);
}

aside a {
  text-decoration: none;
}
aside h3 {
  margin-bottom: 1rem;
  padding-left: 3.2rem;
  font-size: 1.4rem;
  line-height: 2.15;
  font-weight: 600;
  text-transform: uppercase;
}
aside nav {
  position: relative;
  margin-right: 4.6rem;
  padding: 2.4rem 0;
  color: var(--primary-color);
  border-bottom: 1px solid var(--highlight);
}
aside nav a {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 2.4rem;
  font-weight: 500;
  color: var(--primary-color);
  border-left: 0.4rem solid transparent;
}
aside nav a:hover,
aside nav a.active {
  color: var(--primary-color);
  text-decoration: none;
  border-color: var(--menu-hover-color);
}
aside nav a.active {
  font-weight: bold;
}
aside nav a img {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.8rem;
}
aside nav a img[src*="book.svg"] {
  width: 23px;
}
aside nav h3 {
  margin: 1.6rem 0 0.8rem;
}
aside nav ul:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 3.2rem;
  height: 1px;
  margin: 1.6rem 0 0 1.6rem;
  background-color: var(--nav-separator);
}

aside > div {
  text-align: center;
}
aside > div img {
  margin-top: 3.2rem;
}

/* CARD */
.card {
  display: grid;
  grid-template-rows: 14.6rem minmax(0, 1fr);
  background-color: var(--default-background);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 var(--shadow);
  overflow: hidden;
  text-decoration: none;
}
.card:hover {
  text-decoration: none;
}
.card:hover h3 {
  text-decoration: underline;
}
.card_img {
  width: 100%;
  overflow: hidden;
}
.card_img img {
  width: 100%;
  height: auto;
}
.card_tag {
  color: var(--font-color-inverted);
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.8rem 1.6rem 1.2rem;
}
.card_content h3 {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.38;
}

.card_date {
  font-size: 1.2rem;
  color: var(--font-color-secondary);
}
.card_date::before {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin-bottom: 1.2rem;
  background-color: var(--tabs-border);
}

/* HOME */

.home {
  display: block;
  padding-right: 0;
  padding-left: 0;
}

.home .content {
  max-width: 100%;
}

.home__intro {
  min-height: 78rem;
  text-align: center;
  background: url(../images/illustrations/home__intro-bg.svg) center top
    no-repeat;
}

.home__intro > div {
  max-width: 54.4rem;
  margin-right: auto;
  margin-left: auto;
}

.home__intro .logo {
  width: 14.4rem;
  margin-bottom: 3.2rem;
}

.home__intro h1 {
  text-align: center;
  font-weight: bold;
}
.home__intro h1 span {
  display: block;
  font-weight: normal;
}
.home__intro p {
  font-weight: 500;
}
.home__intro .btn {
  margin-top: 3.2rem;
}
.home__intro .btn + a {
  display: block;
  margin-top: 1.6rem;
}
.home__intro-logos {
  margin-top: 6.4rem;
}
.home__intro-logos .logo-ecoleconfiance {
  width: 9.6rem;
}
.home__intro-logos .logo-110bis {
  margin-left: 6.4rem;
  height: 7.6rem;
}
.home__category {
  display: flex;
  flex-direction: column;
  margin-top: 5.6rem;
  margin-bottom: 15.2rem;
}
.home__category h2 {
  margin-bottom: 4.8rem;
  font-weight: 600;
  font-size: 2.8rem;
  text-align: center;
}
.home__category h2 img {
  display: block;
  margin: 0 auto 0.8rem;
}
.home__category > a {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}
.home__category > a::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/icons/16x16/arrow_left_16_purple.svg) 0 0 no-repeat;
}
.home__category .video-grid__insert {
  display: none;
}

.video-grid {
  display: grid;
  /*grid-template-columns: repeat(4, calc(25% - 2.4rem));*/
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 3.2rem;
}

.home__participate {
  width: 100vw;
  margin-bottom: 15rem;
  margin-left: 50%;
  padding: 9.6rem 0;
  background-color: #fff;
  transform: translateX(-50%);
}
.home__participate::before,
.home__participate::after {
  content: "";
  position: absolute;
  display: block;
}
.home__participate::before {
  bottom: -3rem;
  right: 5vw;
  width: 5.4rem;
  height: 5.4rem;
  background: url(../images/illustrations/home__participate-bottom.svg) 0 0
    no-repeat;
}
.home__participate::after {
  top: 14rem;
  left: 8vw;
  width: 3.6rem;
  height: 4.2rem;
  background: url(../images/illustrations/home__participate-abstract.svg) 0 0
    no-repeat;
}

.home__participate h2 {
  margin-bottom: 4.8rem;
  text-align: center;
}

.home__participate-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 3.2rem;
  margin-bottom: 4.8rem;
}
.home__participate-content::before {
  content: "";
  position: absolute;
  top: -24rem;
  right: -9.2rem;
  display: block;
  width: 17.8rem;
  height: 18.6rem;
  background: url(../images/illustrations/home__participate-top.svg) 0 0
    no-repeat;
}
.home__participate-content img {
  margin-bottom: 2.4rem;
}
.home__participate-content h3 {
  font-size: 1.6rem;
}
.home__participate-content > div {
  padding-right: 5%;
  padding-left: 5%;
}
.home__participate-photos {
  position: absolute;
  left: -20%;
  bottom: -34.5rem;
}
.home__participate-photos .about__image:first-of-type {
  width: 15.1rem;
  height: 20.6rem;
  transform: rotate(-19deg);
}
.home__participate-photos .about__image:nth-of-type(2) {
  width: 30.1rem;
  height: 21.3rem;
  margin-top: -8rem;
  margin-left: 6.4rem;
  transform: rotate(4deg);
}
.home__participate-photos .about__image:last-of-type {
  width: 25.6rem;
  height: 16.1rem;
  margin-top: -9rem;
  margin-left: 23rem;
  transform: rotate(-17deg);
}

.video-grid__insert {
  grid-column: 1 /2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.2rem 3.2rem 4rem;
  color: #fff;
  background-image: linear-gradient(0deg, #1e1169 1%, #321e7f 100%);
  border-radius: 0.5rem;
}
.video-grid__insert > div {
  display: flex;
  flex-direction: column;
}
.video-grid__insert img {
  margin-top: -5rem;
  margin-left: -5.6rem;
}
.video-grid__insert h4 {
  margin-top: 5.6rem;
  margin-bottom: 1.6rem;
  color: #fff;
}
.video-grid__insert p {
  margin-bottom: 1.6rem;
}
.video-grid__insert .btn {
  text-align: center;
}
.insert-wide .video-grid__insert {
  grid-column: 1/3;
}
.insert-wide .video-grid__insert img {
  max-width: 130%;
}

/* PAGE VIDEO */

.video_details {
  margin-bottom: 4rem;
}

.video_details > div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.video_title {
  margin-bottom: 0.8rem;
  line-height: 1;
  font-weight: 600;
}

.video_metadata {
  margin-left: 1.2rem;
}
.video_metadata,
.video_metadata a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
.video_metadata a {
  border-bottom: 1px solid var(--primary-color);
}
.video_metadata a:hover {
  text-decoration: none;
}

.video_keywords {
  display: flex;
  margin-left: 1.6rem;
}
.video_keywords li {
  padding: 0 1.2rem;
  background-color: var(--light-background);
  border-radius: 12px;
}
.video_keywords li:not(:first-of-type) {
  margin-left: 1.6rem;
}
.video_keywords a {
  text-decoration: none;
}

.video_infos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.2rem;
}
.video_infos::after {
  content: "";
  display: block;
  width: 3.2rem;
  height: 1px;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: var(--border-color);
}

.video_actions {
  display: flex;
  align-items: center;
}
.video_actions a,
.video_actions button {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
}
.video_actions button {
  margin-left: 1.6rem;
}
.video_actions .button {
  padding: 0;
  background: none;
  border-radius: 0;
}
.video_actions .button:hover {
  color: var(--primary-color);
}

.video_resources h4 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.video_resources li {
  display: flex;
  align-items: flex-start;
}
.video_resources li img {
  margin-right: 0.8rem;
}
.video_resources_file {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video_resources .file_info {
  flex-shrink: 0;
  margin-left: 1.6rem;
}
.video_resources_uploader {
  margin-top: 0.8rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.share {
  margin-top: 1.6rem;
  color: var(--primary-color);
  font-weight: bold;
}
.share::after {
  content: "";
  display: block;
  width: 12.8rem;
  height: 1px;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  background-color: var(--border-color);
}
.share .social {
  display: inline;
}
.share .social li {
  display: inline-block;
  line-height: 32px;
}
.share .social li img {
  vertical-align: bottom;
}

.video_resources h3 {
  margin-bottom: 1.6rem;
  color: var(--primary-color);
}
.video_resources a {
  text-decoration: none;
}
.video_resources li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

.video_suggestion > div {
  max-height: 600px;
  overflow-y: scroll;
}
.video_suggestion .card_img,
.video_suggestion .card_content {
  height: auto;
}
.video_suggestion .card {
  display: flex;
  height: 10rem;
  box-shadow: 0 2px 6px 0 var(--shadow);
}
.video_suggestion .card:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
.video_suggestion .card_img {
  width: 12.8rem;
  overflow: hidden;
  text-align: center;
}
.video_suggestion .card_img img {
  height: 100%;
  width: auto;
  transform: translateX(-50%);
  margin-left: 50%;
}
.video_suggestion .card_content {
  width: calc(100% - 12.8rem);
}
.video_suggestion .card_content h3 {
  font-size: 1.2rem;
}

.video_contribution {
  margin-top: 4.6rem;
}
.video_contribution h2 {
  margin-bottom: 0;
}
.video_contribution p {
  color: var(--font-color);
}
.video_contribution form {
  margin-top: 3.2rem;
}
.video_contribution form .form__group {
  margin-bottom: 2rem;
}

.form__group {
  margin-bottom: 3.2rem;
}

.video_contribution button {
  margin-top: 1.6rem;
}

/* COMMENTS */
.comment_wrapper h2 {
  margin-bottom: 5.6rem;
}

.comment {
  display: flex;
  flex-wrap: wrap;
}
.comment:not(:last-of-type) {
  margin-bottom: 6.4rem;
}
.comment::after {
  content: "";
  display: block;
  width: 32rem;
  height: 1px;
  margin-top: 4.8rem;
  background-color: var(--tabs-border);
}

.comment_avatar {
  display: block;
  width: 10.4rem;
  height: 10.4rem;
  margin-right: 6.4rem;
  background-color: var(--font-color-secondary);
  border-radius: 50%;
}

.comment_content {
  width: calc(100% - 16.8rem);
}
.comment_content h3 {
  margin-bottom: 0.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

a.comment_link {
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: #7f7f90;
  text-decoration: none;
}

.comment_author {
  text-decoration: none;
}

.comment_value p {
  margin-bottom: 0;
  line-height: 2;
}
.comment_value p:not(:first-of-type) {
  margin-top: 1.6rem;
}

.comment_attachment {
  font-size: 1.2rem;
  font-weight: bold;
}
.comment_attachment li {
  display: flex;
  align-items: center;
}
.comment_attachment img {
  width: 2.4rem;
}
.comment_attachment a {
  line-height: 1;
  text-decoration: none;
}
.comment_attachment .file_info {
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* BREADCRUMBS */
.breadcrumbs {
  margin-bottom: 3.2rem;
  font-size: 1.4rem;
  color: var(--breadcrumbs);
}

.breadcrumbs a {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
}

/* FILES */
.file_info {
  font-size: 1.2rem;
  color: var(--font-color-secondary);
  font-weight: 300;
}

progress {
  width: 100%;
}

/* PARTICIPATE */
.participate_intro {
  margin-bottom: 8.8rem;
}
.participate_intro h1 {
  margin-bottom: 2.4rem;
}
.participate_intro p {
  margin-bottom: 1.6rem;
}

.upload_steps {
  width: 69%;
}
.upload_steps .upload-step {
  position: relative;
  margin-left: 6.5rem;
}
.upload_steps .upload-step:before {
  content: "";
  position: absolute;
  left: -3.7rem;
  width: 1px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    var(--tabs-border) 0,
    var(--tabs-border) 5px,
    transparent 5px,
    transparent 10px
  );
}
.upload_steps .file-label {
  text-transform: none;
}
.upload_steps .file-input {
  display: none;
}

.upload-step {
  padding-bottom: 4rem;
}
.upload-step::after {
  content: "";
  display: block;
  width: 12.8rem;
  height: 1px;
  margin-top: 4.8rem;
  background-color: var(--border-color);
}
.upload-step:last-child::after {
  display: none;
}

.upload-step > div:not(:last-of-type) {
  margin-bottom: 4.8rem;
}

.upload-step_title {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 2rem;
}
.upload-step_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.7rem;
  height: 5.7rem;
  margin-right: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}
.upload-step_icon::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: var(--border-color);
  border-radius: 50%;
}
.upload-step_title span {
  margin-left: 0.4rem;
  font-size: 1.6rem;
  font-weight: normal;
}

.upload-step_thumbnail video {
  margin-bottom: 1.8rem;
}

.upload-step fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.keywords label {
  margin-bottom: 0;
}
/* NOTIFICATIONS */
.notification {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  bottom: 2em;
  color: var(--font-color-light);
  display: flex;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0 1em;
  position: fixed;
  right: 2em;
  width: 50%;
}
.notification img {
  padding: 1em 0.5em;
}
.notification span {
  flex-grow: 1;
}
.notification .close {
  background: none;
  float: right;
  padding-right: 0;
}
.notification.success {
  background-color: var(--notification-success-color);
}
.notification.error {
  background-color: var(--notification-error-color);
}

/* ABOUT PAGE */
.about h1 {
  margin-top: 3.2rem;
  margin-bottom: 7.2rem;
  text-align: center;
}
.about h1 span {
  display: block;
  font-weight: bold;
}

.about article {
  display: grid;
  grid-gap: 3.2rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.about__image,
.about__text {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
}

.about__image {
  padding: 0.8rem 0.8rem 8rem;
  border-radius: 0.2rem;
}

.about__text {
  position: relative;
  padding: 4.8rem;
  border-radius: 0.9rem;
}
.about__image::after,
.about__text::after {
  content: "";
  position: absolute;
  display: block;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.about__service {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.about__service .about__image {
  grid-column: 5/12;
  grid-row: 1/3;
  transform: rotate(8deg);
}
.about__service .about__text {
  grid-column: 2/8;
  grid-row: 2/4;
}
.about__service .about__text::after {
  top: -8rem;
  left: -6.4rem;
  width: 12.8rem;
  height: 12.8rem;
  background-image: url(../images/illustrations/about/illu_horloge.svg);
}

.about__participate {
  margin-top: 10rem;
}
.about__participate .about__image {
  grid-column: 3/7;
  grid-row-start: 1;
  transform: rotate(-16deg);
}
.about__participate .about__image::after {
  top: 4rem;
  left: -8rem;
  width: 6.1rem;
  height: 12rem;
  background-image: url(../images/illustrations/about/illu_pen-yellow.svg);
}
.about__participate .about__text {
  grid-column: 6/12;
  grid-row-start: 1;
}
.about__participate .about__text::after {
  top: -3.2rem;
  right: 3rem;
  width: 7rem;
  height: 10rem;
  background-image: url(../images/illustrations/about/illu_stylet.svg);
}

.about__subject {
  margin-top: 8rem;
}
.about__subject .about__image {
  grid-column: 6/12;
  grid-row: 2/3;
  transform: rotate(8deg);
  margin-top: -5.8rem;
}
.about__subject .about__image::after {
  top: -20rem;
  right: 8rem;
  width: 15rem;
  height: 18.6rem;
  background-image: url(../images/illustrations/about/illu_carnet.svg);
}
.about__subject .about__text {
  grid-column: 2/9;
  grid-row: 1/2;
  padding-right: 6.2rem;
}
.about__subject .about__text::after {
  top: 8.6rem;
  right: 0.3rem;
  width: 6rem;
  height: 9rem;
  background-image: url(../images/illustrations/about/illu_pen-red.svg);
}

.about__video {
  margin-top: 10rem;
}
.about__video .about__image {
  grid-column: 3/7;
  grid-row-start: 1;
  transform: rotate(8deg);
}
.about__video .about__image::after {
  bottom: 4rem;
  left: -4rem;
  width: 12.6rem;
  height: 4.4rem;
  background-image: url(../images/illustrations/about/illu_pen-green.svg);
}
.about__video .about__text {
  grid-column: 6/12;
  grid-row-start: 1;
}
.about__video .about__text::after {
  bottom: -9.6rem;
  right: -1.6rem;
  width: 7rem;
  height: 10rem;
  background-image: url(../images/illustrations/about/illu_rule.svg);
}

.about__text p:first-of-type {
  color: var(--primary-color);
}

.about__end {
  margin-top: 12rem;
  text-align: center;
}
.about__end p {
  width: 34%;
  margin: 0 auto;
}
.about__end h2 {
  margin-top: 1.6rem;
}

.about__logo {
  width: 21.6rem;
  margin-top: 4.8rem;
}
/* PAGE ADMIN */

.admin .container {
  display: flex;
  min-height: 130px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
}

.admin video {
  border-radius: 3px;
  height: 122px;
  margin-right: 1em;
  width: 233px;
}

.admin .video-details {
  flex-grow: 1;
}

.admin .video-details h1 {
  font-size: inherit;
}

.admin .video_metadata,
.admin .video_keywords {
  margin-left: 0;
}

.admin .video_keywords,
.admin .video_keywords li {
  display: inline-block;
}

.admin button {
  height: 40px;
  min-width: 180px;
  width: 180px;
}

/* PAGE CONVENTION/CHARTE */
.convention ul {
  list-style-type: disc;
}
.convention li {
  padding: 0 1.2rem;
}

/* PAGE CATEGORIES  */
.category + .category {
  margin-top: 6.4rem;
}
.category:not(.insert-wide):nth-child(odd) .video-grid__insert {
  grid-column: -2 / -1;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}
.title {
  display: flex;
  align-items: center;
}

.title img {
  margin-right: 0.8rem;
}

.news section + section {
  margin-top: 6.4rem;
}
.news section + section::before {
  content: "";
  display: block;
  width: 12.8rem;
  height: 1px;
  margin-bottom: 6.4rem;
  background-color: var(--tabs-border);
}

.news_item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
}
.news_item + .news_item {
  margin-top: 4.8rem;
}
.news_item > div {
  padding: 3.2rem;
}
.news_item > div > div {
  max-width: 90%;
}
.news_item h4 {
  margin-bottom: 0;
}
.news_item a {
  text-decoration: none;
}
.news_item span {
  display: block;
  margin-bottom: 1.6rem;
  color: var(--font-color-secondary);
}
.news_item img {
  max-width: 35.2rem;
}

#archive .news_item {
  position: relative;
  background: none;
}
#archive .news_item + .news_item {
  padding-top: 7.2rem;
  margin-top: 0;
}
#archive .news_item::before {
  content: "";
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 2.4rem;
  border-radius: 50%;
  border: 1px solid #c6c6e4;
  background-color: var(--font-color-light);
  z-index: 2;
}
#archive .news_item::after {
  content: "";
  position: absolute;
  left: 0.8rem;
  width: 1px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    var(--tabs-border) 0,
    var(--tabs-border) 5px,
    transparent 5px,
    transparent 10px
  );
}
#archive .news_item:first-of-type::after {
  top: 50%;
}
#archive .news_item:last-of-type::after {
  bottom: 32%;
}
#archive .news_item > div {
  padding: 0 3.2rem;
  order: 2;
}
#archive .news_item > div > div {
  max-width: 80%;
}
#archive .news_item img {
  order: 1;
  max-width: 18.4rem;
}
#archive + div {
  margin-top: 7.2rem;
}

.news-details h1 {
  margin-bottom: 3.2rem;
  text-align: center;
}
.news-details_meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--tabs-border);
}
.news-details_meta > div {
  display: flex;
  align-items: center;
  line-height: 1;
}
.news-details_meta > div img {
  margin-right: 0.8rem;
}
.news-details_excerpt {
  margin-bottom: 3.2rem;
  font-weight: bold;
  color: var(--primary-color);
}
.news-details_excerpt,
.news-details_content {
  margin-top: 3.2rem;
}
.news-details_content h1,
.news-details_content h2,
.news-details_content h3 {
  font-weight: bold;
}
.news-details_content h1 {
  font-size: 2.2rem;
}
.news-details_content h2 {
  font-size: 1.8rem;
}
.news-details_content h3 {
  font-size: 1.6rem;
}
.news-details_content h1,
.news-details_content p,
.news-details_content ul {
  margin-bottom: 1.6rem;
}
.news-details_content ul {
  margin-left: 3.2rem;
}
.news-details_content ul ul {
  margin-top: 1.6rem;
}
.news-details_content li {
  list-style-type: disc;
}
.news-details_content li + li {
  margin-top: 0.8rem;
}

/* RESPONSIVE */

.mobile-only {
  display: none;
}

@media (max-width: 1024px) {
  .rf-container {
    padding-right: 6.4rem;
    padding-left: 6.4rem;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  header .wrapper {
    display: flex;
    justify-content: space-between;
  }
  header .wrapper > img:first-child {
    width: 9.4rem;
    height: auto;
  }
  header .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 8.8rem;
    margin-left: auto !important;
    margin-bottom: 0;
  }
  header .logo::after {
    content: "";
    position: absolute;
    top: -2.1rem;
    left: 0;
    display: block;
    height: 10.4rem;
    width: 8.8rem;
    border-radius: 0 0 7.3rem 7.3rem;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0 var(--shadow);
    z-index: 1;
  }
  header .logo img {
    position: relative;
    width: 7.2rem;
    height: auto;
    margin: 0 auto;
    z-index: 2;
  }
  .menu-opener {
    display: flex;
  }

  .rf-footer__body {
    margin-bottom: 3.2rem;
  }
  .rf-footer__content-links {
    flex-direction: column;
    align-items: flex-end;
  }
  .rf-footer__content-links li:not(:last-of-type) {
    margin-right: 0;
  }
  .rf-footer__bottom {
    flex-wrap: wrap;
  }
  .rf-footer__bottom-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .rf-footer__bottom-copy {
    margin-top: 1.6rem;
    margin-left: 0;
  }
  .rf-footer__bottom-copy::before {
    content: "";
    display: block;
    width: 8rem;
    height: 1px;
    margin-bottom: 1.6rem;
    background-color: #e6e6f0;
  }

  main {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    padding-top: 3.2rem;
    padding-bottom: 9.6rem;
  }

  .rf-logo__image--custom {
    margin: 0;
  }

  .grid {
    grid-template-columns: 100%;
  }
  .cols_height-four > .active,
  .cols_height-four > div:last-of-type {
    width: 100%;
    padding: 0;
    border: none;
  }

  .card,
  .card_img,
  .card_content {
    height: auto;
  }

  .breadcrumbs {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }
  .video_details {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }
  .video_details > div {
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
  .video_resources {
    margin-top: 2.4rem;
  }
  .video_keywords {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }
  .video_keywords li {
    margin-bottom: 1.2rem;
  }
  .video_keywords li:not(:first-of-type) {
    margin-left: 0.8rem;
  }
  .video_details::after {
    display: none;
  }

  label {
    font-size: 1.2rem;
    text-align: left;
  }

  .video_contribution {
    margin-top: 2.3rem;
  }
  .video_contribution form .form__group + .form__group {
    margin-top: 2.4rem;
    text-align: center;
  }
  .video_contribution button {
    margin-top: 2.4rem;
  }

  .comment_wrapper h2 {
    margin-bottom: 3.2rem;
  }
  .comment::after {
    width: 50%;
    margin-top: 2.4rem;
  }
  .comment_avatar {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 3.2rem;
  }
  .comment_content h3 {
    font-size: 1.6rem;
  }
  .comment_link {
    font-size: 1.2rem;
  }

  .video_suggestion {
    overflow: unset;
    max-height: 100%;
  }

  .mobile-tabs {
    display: block;
  }
  .mobile-tabs h2,
  .mobile-tabs h4 {
    display: none;
  }
  .mobile-tabs .active {
    display: block;
  }
  .mobile-tabs .tab-headers {
    display: flex;
    margin-bottom: 1.6rem;
    width: 100vw !important;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .mobile-tabs .tab-headers a {
    flex-grow: 1;
    font-size: 1.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    background-color: var(--tabs-background);
    border-top: 1px solid var(--tabs-border);
    border-bottom: 1px solid var(--tabs-border);
  }
  .mobile-tabs .tab-headers a:not(:first-of-type) {
    border-left: 1px solid var(--tabs-border);
  }
  .mobile-tabs .tab-headers a.active {
    background-color: var(--font-color-light);
    border-bottom: transparent;
  }
  .mobile-tabs > div {
    display: none;
  }
  ::placeholder {
    font-size: 12px;
  }

  .upload_steps {
    width: 100%;
  }
  .upload-step {
    padding-bottom: 2rem;
  }
  .upload-step::after {
    margin-top: 2.4rem;
  }
  .upload-step_icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .upload-step_icon img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .upload-step_icon::after {
    width: 2rem;
    height: 2rem;
  }
  .upload-step .btn {
    font-size: 1.2rem;
  }
  .upload_steps .upload-step {
    margin-left: 3.2rem;
  }
  .upload-step > div:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }
  embed {
    height: 100%;
  }

  aside {
    margin: 0 6.4rem;
    width: calc(100% - 12.8rem);
  }

  .mobile-categories {
    margin-bottom: 3.2rem;
    padding: 1.6rem 0;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  }
  .mobile-categories summary {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 2;
  }
  .mobile-categories summary::before {
    content: "";
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 0.8rem;
    background: url(../images/icons/32x32/keywords_32_purple.svg);
    background-size: contain;
  }
  .mobile-categories[open] nav::before {
    content: "";
    display: block;
    width: calc(100% - 4.8rem);
    height: 1px;
    margin: 0 2.4rem 1.6rem;
    background-color: var(--tabs-border);
  }
  .home__intro {
    min-height: 0;
  }
  .home__intro h1 {
    margin-bottom: 0.8rem;
  }
  .home__participate {
    margin-bottom: 26rem;
  }
  .home__participate-content {
    display: block;
    max-width: 70%;
    margin: 0 auto;
  }
  .home__participate-content::before {
    top: -30rem;
  }
  .home__participate-photos {
    left: -30%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  .wrapper {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }

  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.4rem;
  }

  .rf-container {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }

  footer,
  .rf-footer__content-links li a,
  .rf-footer__bottom-list li {
    font-size: 1rem;
  }
  main {
    padding: 2.4rem 3.2rem 6.4rem;
  }
  .video-grid {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }

  .rf-logo__image--custom {
    height: 7.2rem;
  }
  summary::after {
    width: 1.6rem;
    height: 1.6rem;
  }
  .mobile-categories {
    padding: 1rem 0;
  }
  .mobile-categories summary {
    font-size: 1.4rem;
  }
  .mobile-categories summary::before {
    width: 2.4rem;
    height: 2.4rem;
  }
  .home__intro h1 {
    margin-bottom: 2.4rem;
  }
  .home__intro > div {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  .home__participate {
    padding-top: 5.6rem;
    padding-bottom: 13rem;
  }
  .home__participate::before {
    width: 4.8rem;
    height: 4.8rem;
    background-size: contain;
  }
  .home__participate::after {
    width: 2.4rem;
    height: 2.4rem;
    top: 12rem;
    right: 0.8rem;
    left: auto;
    background-size: contain;
  }
  .home__participate-photos {
    bottom: -44.5rem;
  }
  .home__participate-content {
    max-width: 100%;
  }
  .home__participate-content::before {
    top: -22rem;
    right: 0;
    width: 9rem;
    height: 9.5rem;
    background-size: contain;
  }
  .home__participate-content > div {
    padding: 0;
  }
  .home__participate-content > div:not(:first-of-type) {
    margin-top: 3.2rem;
  }
  .home__participate-content img {
    margin-bottom: 1.6rem;
  }
  .home__participate-content h3 {
    font-size: 1.4rem;
  }
  .home__participate .center-wrapper {
    margin-top: 3.2rem;
  }
  .card {
    grid-template-rows: auto minmax(0, 1fr);
  }
  .card_content {
    padding: 0.8rem;
  }
  .card_content h3 {
    font-size: 1.2rem;
  }
  .card_date {
    font-size: 1rem;
  }
}

/* MODALS */

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--modal-backdrop);
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  z-index: 10;
}

.modal__backdrop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px var(--modal-shadow);
  box-shadow: 0 1px 2px var(--modal-shadow);
  background: var(--default-background);
  padding: 2em;
  max-width: 32em;
}

.modal > :first-child {
  margin-top: 0;
}
