:root {
  --primary-color: #1e1169;
  --secondary-color: #ff507d;
  --error-color: #d20019;
  --font-color: #353555;
  --font-color-light: #f7f7fc;
  --font-color-secondary: #59598d;
  --font-color-thirdary: #05005a;
  --font-color-inverted: #fff;
  --placeholder-color: #6e6e78;
  --input-border-color: #c8c8cd;
  --menu-hover-color: #28dcf0;
  --yellow: #ffd214;
  --default-font: "nunitoregular", Arial, sans-serif;
  --notification-success-color: #0f8246;
  --notification-error-color: #d20019;
  --border-color: rgba(30, 17, 105, 0.1);
  --highlight: rgba(255, 255, 255, 0.6);
  --default-background: #fff;
  --light-background: rgba(30, 17, 105, 0.07);
  --breadcrumbs: rgba(30, 17, 105, 0.5);
  --shadow: rgba(0, 0, 0, 0.06);
  --tabs-border: #e6e6f0;
  --tabs-background: rgba(230, 240, 240, 0.5);
  --modal-backdrop: rgba(0, 0, 0, 0.5);
  --modal-shadow: rgba(201, 211, 223, 0.2);
  --nav-separator: #d8d8d8;

  /* République Française styling */
  --rf-default-font: "Marianne", arial, sans-serif;
  --w-g750: #fff;
  --g700: #383838;
  --g600: #6a6a6a;
  --g400: #cecece;
  --bf500: #000091;
}

@font-face {
  font-family: "nunitobold";
  src: url("../fonts/nunito-bold-webfont.woff2") format("woff2"),
    url("../fonts/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunitoregular";
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_lightregular";
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 62.5%; /* 10px */
}

.main {
  display: flex;
  min-height: 100vh;
  font-family: var(--default-font);
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--font-color-light);
}

.wrapper {
  max-width: 112rem;
  margin: 0 auto;
}
@media (max-width: 1350px) {
  .wrapper {
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
  }
}

/* LAYOUTS */
[class*="cols_"] {
  display: flex;
  flex-wrap: wrap;
}
.cols_height-four > .active {
  width: 66.6666%;
  padding-right: 3.2rem;
}
.cols_height-four > div:last-of-type {
  width: 33.3333%;
  padding-left: 4rem;
  border-left: 1px solid var(--border-color);
}

.cols_seven-five > div:first-child {
  width: calc((100% / 12) * 7);
}
.cols_seven-five > div:last-of-type {
  width: calc((100% / 12) * 5);
  padding-left: 4rem;
}

.content {
  order: 2;
  width: 100%;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

/* HEADINGS */

h1,
h2,
h3,
h4 {
  font-family: "montserrat", Arial, sans-serif;
  color: var(--primary-color);
}

h1 {
  font-family: "montserrat", Arial, sans-serif;
  font-weight: normal;
  font-size: 2.8rem;
}

h2 {
  font-family: "montserrat_lightregular", Arial, sans-serif;
  font-size: 2.6rem;
}

h3 {
  font-weight: bold;
  font-size: 2.2rem;
}
h4 {
  margin-bottom: 2.4rem;
  font-weight: bold;
  font-size: 1.8rem;
}

/* LINKS & BUTTONS */
a {
  color: var(--font-color-thirdary);
  text-decoration: underline;
}

button {
  background: none;
  border: none;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2rem;
  font-family: "montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
  color: var(--font-color-inverted);
  background-color: var(--primary-color);
  border-radius: 2.5rem;
}
.btn:hover {
  color: var(--font-color-inverted);
  text-decoration: none;
}

button:disabled {
  opacity: 0.5;
}

/* LISTS */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* FORMS */
label,
legend {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--primary-color);
}
label {
  display: block;
}

textarea,
input {
  width: 100%;
  background-color: var(--default-background);
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
}
textarea {
  height: 32rem;
  padding: 0.8rem 2.4rem;
}
input {
  padding: 0.8rem 2rem;
}

::placeholder {
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--placeholder-color);
}

[type="radio"]:not(:checked),
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="checkbox"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="checkbox"]:checked + label {
  display: inline-block;
  position: relative;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  line-height: 2;
  border-radius: 12px;
  cursor: pointer;
}
[type="radio"]:not(:checked) + label:not(:first-of-type),
[type="checkbox"]:not(:checked) + label:not(:first-of-type),
[type="radio"]:checked + label:not(:first-of-type),
[type="checkbox"]:checked + label:not(:first-of-type) {
  margin-left: 0.8rem;
}
[type="radio"]:not(:checked) + label,
[type="checkbox"]:not(:checked) + label {
  background-color: var(--light-background);
}
[type="radio"]:checked + label,
[type="checkbox"]:checked + label {
  color: var(--font-color-inverted);
  background-color: var(--primary-color);
}

video,
canvas,
embed {
  width: 100%;
}
.form-errors li {
  color: var(--error-color);
  padding: 0.5em;
}
.form-errors li img {
  vertical-align: text-top;
}

/* RF */
[class*=" rf-"],
[class^="rf-"] {
  box-sizing: border-box;
  font-family: var(--rf-default-font);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*=" rf-"] * :not([class^="rf-"]):not([class*=" rf-"]),
[class^="rf-"] * :not([class^="rf-"]):not([class*=" rf-"]) {
  box-sizing: inherit;
}
.rf-container {
  /* max-width: 1136px; */
  padding: 0 32px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.rf-logo__image--custom {
  height: 10.2rem;
}

/* RF-HEADER */
.rf-header {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1),
    0 8px 16px -16px rgba(0, 0, 0, 0.32);
  background-color: var(--w-g750);
  padding: 0;
  position: relative;
}
.rf-header a {
  text-decoration: none;
  box-shadow: none;
}
.rf-header__body {
  margin: 0;
  padding: 2.4rem 0 4.2rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.rf-header__logo {
  display: block;
  width: 10.4rem;
  margin-left: 3.2rem;
}
.rf-header__nav ul {
  display: flex;
  margin-left: 3.2rem;
}
.rf-header__nav li {
  display: flex;
}
.rf-header__nav li:not(:first-of-type) {
  margin-left: 1.6rem;
}
.rf-header__nav li::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  margin-left: 1.6rem;
  background-color: var(--nav-separator);
}
.rf-header__nav a {
  position: relative;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}
.rf-header__nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1.2rem;
  left: 0;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.8rem auto 0;
  background-color: transparent;
  border-radius: 50%;
}
.rf-header__nav a.active {
  font-weight: bold;
}
.rf-header__nav a.active::after {
  background-color: var(--menu-hover-color);
}
.rf-header__actions {
  margin-left: auto;
}
.rf-header__actions a {
  margin-left: 2.4rem;
}

/* HEADER */
header {
  margin-top: 40px;
  padding: 2.1rem 0;
}
header a {
  text-decoration: none;
}
header .wrapper {
  display: flex;
}
header nav {
  display: flex;
  margin-right: 4rem;
  margin-left: 4rem;
  font-family: "montserrat", Arial, sans-serif;
  font-size: 1.7rem;
}
header nav a {
  position: relative;
}
header nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1.2rem;
  left: 0;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: auto;
  background-color: transparent;
  border-radius: 50%;
}
header nav a:hover {
  color: var(--font-color);
  font-weight: bold;
  text-decoration: none;
}
header nav a:hover::after {
  background-color: var(--menu-hover-color);
}

header div {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header div a:last-of-type {
  margin-left: 1.6rem;
}

.search_button {
  background: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  background: var(--primary-color);
  z-index: 3;
  overflow-y: scroll;
}
.mobile-menu.opened {
  display: flex;
}
.mobile-menu nav,
.mobile-menu > div {
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  font-size: 1.8rem;
}
.mobile-menu > nav {
  border: none;
}
.mobile-menu > nav::before {
  display: none;
}
.mobile-menu > nav::after,
.mobile-menu > div nav:first-of-type::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--default-background);
}
.mobile-menu > nav::after {
  position: relative;
}
.mobile-menu > div nav:first-of-type::after {
  left: 0;
}
.mobile-menu > div {
  align-items: flex-start;
}
.mobile-menu > div:first-child {
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3.2rem;
  padding-left: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}
.close-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  margin-left: auto;
  padding: 0;
  background-color: var(--default-background);
}
.mobile-menu h3 {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: none;
}
header .mobile-menu a:last-of-type {
  margin-left: 0;
}
.mobile-menu nav:first-of-type {
  padding-bottom: 0;
}
.mobile-menu nav a {
  margin-bottom: 1.6rem;
}
.mobile-menu nav a:hover {
  font-weight: inherit;
}
.mobile-menu nav a::after {
  display: none;
}
.mobile-menu form {
  border-left: 0.4rem solid transparent;
}
.mobile-menu .search_button {
  margin-right: 0.8rem;
  padding-right: 0;
  padding-left: 2.4rem;
}
.mobile-menu .search__group input {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.menu-opener {
  align-items: center;
  padding: 0;
  font-size: 1.4rem;
  background: none;
  position: absolute;
  top: 30px;
  right: 32px;
}
.menu-opener,
.menu-opener:hover {
  color: var(--primary-color);
}

.menu-opener div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.8rem;
}
.menu-opener div::before,
.menu-opener div::after,
.menu-opener span {
  display: block;
  width: 1.6rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  border-radius: 3px;
}
.menu-opener div::before,
.menu-opener div::after {
  content: "";
}
.menu-opener div::before {
  margin-bottom: 4px;
}
.menu-opener div::after {
  margin-top: 4px;
}

/* FOOTER */
footer {
  font-size: 1.4rem;
  padding: 2em 0;
  width: 100%;
  border-top: 2px solid var(--bf500);
  border-bottom: 1px solid var(--g400);
  padding-top: 2.5rem;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
}
.rf-footer__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rf-footer__brand {
  align-items: flex-start;
  flex-basis: calc(100% / 3);
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rf-footer__brand-link {
  align-items: flex-start;
  background-color: white;
  flex-basis: calc(100% / 3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.rf-footer__brand-link img {
  margin: 0 auto;
  width: 200px;
}
.rf-footer__content {
  margin-top: 0;
  flex-basis: calc(100% - (100% / 3));
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.rf-footer__content-links li {
  margin-right: 1.5rem;
  display: inline;
}
.rf-footer__content-links li a {
  color: var(--g700);
  display: inline;
  font-size: 1.1em;
  font-weight: 700;
}
.rf-footer__bottom {
  flex-wrap: nowrap;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  border-top: 1px solid var(--g400);
  color: var(--g600);
}
.rf-footer__bottom a {
  color: var(--g700);
}
.rf-footer__bottom-list {
  padding: 1rem 0;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
}
.rf-footer__bottom-list li {
  display: inline;
  padding: 0 1.5em 0 0;
  font-size: 0.9em;
}
.rf-footer__bottom-list li a {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rf-footer__bottom-copy {
  max-width: 100%;
  margin-top: 0;
  margin-left: 2rem;
  flex-shrink: 0;
}

/* MAIN */
main {
  padding-top: 6.4rem;
  padding-bottom: 12.8rem;
}

/* ASIDE */
aside {
  order: 1;
  width: 28.8rem;
  padding: 1.6rem 0;
  font-family: "montserratbold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--primary-color);
  background-color: var(--w-g750);
}
aside a {
  text-decoration: none;
}
aside h3 {
  margin-bottom: 1rem;
  padding-left: 3.2rem;
  font-size: 1.4rem;
  line-height: 2.15;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--font-color-inverted);
}
aside nav {
  margin-bottom: 1.4rem;
}
aside > nav {
  position: relative;
  margin-right: 4.6rem;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid var(--highlight);
}
aside > nav::before,
aside > nav::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  height: 1px;
  background-color: var(--primary-color);
}
aside > nav::before {
  right: 4.1rem;
  width: 0.8rem;
}
aside > nav::after {
  right: 1rem;
  width: 1.5rem;
}
aside > div nav:first-of-type {
  position: relative;
  padding-bottom: 1.5rem;
}
aside > div nav:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.6rem;
  display: block;
  width: 3.2rem;
  height: 1px;
  background-color: var(--highlight);
}
aside nav a {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 2.4rem;
  font-weight: 500;
  color: var(--primary-color);
  border-left: 0.4rem solid transparent;
}
aside nav a:hover,
aside nav a.active {
  color: var(--primary-color);
  text-decoration: none;
  border-color: var(--menu-hover-color);
}
aside nav a img {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.8rem;
}
aside nav a img[src*="book.svg"] {
  width: 23px;
}

/* CARD */
.card {
  display: block;
  background-color: var(--default-background);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 var(--shadow);
  overflow: hidden;
  text-decoration: none;
}
.card:hover {
  text-decoration: none;
}
.card:hover h3 {
  text-decoration: underline;
}
.card_img {
  width: 100%;
  height: 15.6rem;
}
.card_img img {
  width: 100%;
  height: auto;
}
.card_tag {
  color: var(--font-color-inverted);
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
}
.card_content h3 {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.card_date {
  font-size: 1.2rem;
  color: var(--font-color-secondary);
}

/* HOME */
.category:not(:first-of-type) {
  margin-top: 8rem;
}

.home-title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
  color: var(--primary-color);
}
.home-title_wrapper a {
  text-decoration: none;
}
.home-title_wrapper a::after {
  content: " >";
}
.home-title {
  font-size: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 2.4rem));
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem;
}

/* PAGE VIDEO */

.video_details {
  margin-top: 3.2rem;
  margin-bottom: 4rem;
}

.video_details::after {
  content: "";
  display: block;
  width: 3.2rem;
  height: 1px;
  margin-top: 1.6rem;
  background-color: var(--border-color);
}

.video_details > div {
  display: flex;
  font-size: 1.4rem;
}

.video_title {
  margin-bottom: 0.8rem;
}

.video_metadata {
  margin-left: 1.2rem;
}
.video_metadata,
.video_metadata a {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}
.video_metadata a {
  border-bottom: 1px solid var(--secondary-color);
}
.video_metadata a:hover {
  text-decoration: none;
}

.video_keywords {
  display: flex;
  margin-left: 0.8rem;
}
.video_keywords li {
  padding: 0 1.2rem;
  background-color: var(--light-background);
  border-radius: 12px;
}
.video_keywords li:not(:first-of-type) {
  margin-left: 1.6rem;
}
.video_keywords a {
  text-decoration: none;
}

.video_infos {
  display: flex;
  flex-wrap: wrap;
}

.video_infos::after {
  content: "";
  display: block;
  width: 3.2rem;
  height: 1px;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: var(--border-color);
}

.video_share {
  color: var(--primary-color);
  font-weight: bold;
}
.video_share::after {
  content: "";
  display: block;
  width: 12.8rem;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 4.8rem;
  background-color: var(--border-color);
}
.video_share .social {
  display: inline;
}
.video_share .social li {
  display: inline-block;
  line-height: 32px;
}
.video_share .social li img {
  vertical-align: bottom;
}

.video_resources h3 {
  margin-bottom: 1.6rem;
  color: var(--primary-color);
}
.video_resources a {
  text-decoration: none;
}
.video_resources li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

.video_suggestion {
  max-height: 600px;
  overflow-y: scroll;
}
.video_suggestion .card_img,
.video_suggestion .card_content {
  height: auto;
}
.video_suggestion .card {
  display: flex;
  height: 10rem;
  box-shadow: 0 2px 6px 0 var(--shadow);
}
.video_suggestion .card:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
.video_suggestion .card_img {
  width: 12.8rem;
  overflow: hidden;
  text-align: center;
}
.video_suggestion .card_img img {
  height: 100%;
  width: auto;
  transform: translateX(-50%);
  margin-left: 50%;
}
.video_suggestion .card_content {
  width: calc(100% - 12.8rem);
}
.video_suggestion .card_content h3 {
  font-size: 1.2rem;
}

.video_contribution {
  margin-top: 4.6rem;
}
.video_contribution h2 {
  margin-bottom: 0;
}
.video_contribution p {
  color: var(--font-color-light);
}
.video_contribution form {
  display: block;
  margin-top: 3.2rem;
}

.video_contribution form .form__group {
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 0;
}

.form__group {
  margin-bottom: 3.2rem;
}

.video_contribution button {
  margin-top: 1.6rem;
}

/* COMMENTS */
.comment_wrapper h2 {
  margin-bottom: 5.6rem;
}

.comment {
  display: flex;
  flex-wrap: wrap;
}
.comment:not(:last-of-type) {
  margin-bottom: 6.4rem;
}
.comment::after {
  content: "";
  display: block;
  width: 32rem;
  height: 2px;
  margin-top: 4.8rem;
  background-color: var(--border-color);
}

.comment_avatar {
  display: block;
  width: 10.4rem;
  height: 10.4rem;
  margin-right: 6.4rem;
  background-color: var(--font-color-secondary);
  border-radius: 50%;
}

.comment_content {
  width: calc(100% - 16.8rem);
}
.comment_content h3 {
  margin-bottom: 0;
  font-size: 2.2rem;
}

.comment_link {
  margin-bottom: 0.8rem;
  color: var(--font-color-light);
  text-decoration: none;
}

.comment_author {
  text-decoration: none;
}

.comment_value p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 2;
}

.comment_attachment {
  font-size: 1.2rem;
  font-weight: bold;
}
.comment_attachment a {
  text-decoration: none;
}
.comment_attachment .file_info {
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* BREADCRUMBS */
.breadcrumbs {
  margin-bottom: 3.2rem;
  font-size: 1.4rem;
  color: var(--breadcrumbs);
}

.breadcrumbs a {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
}

/* FILES */
.file_info {
  font-size: 1.2rem;
  color: var(--font-color-secondary);
  font-weight: 300;
}

progress {
  width: 100%;
}

/* PARTICIPATE */
.participate_intro {
  margin-bottom: 8.8rem;
}
.participate_intro h1 {
  margin-bottom: 2.4rem;
}
.participate_intro p:first-of-type {
  margin-bottom: 2.4rem;
}

.upload_steps {
  width: 69%;
}
.upload_steps .upload-step {
  position: relative;
  margin-left: 6.5rem;
}
.upload_steps .upload-step:before {
  content: "";
  position: absolute;
  left: -3.3rem;
  height: 100%;
  border-left: 1px dashed var(--tabs-border);
}

.upload_steps .file-input {
  display: none;
}

.upload-step {
  padding-bottom: 4rem;
}
.upload-step::after {
  content: "";
  display: block;
  width: 12.8rem;
  height: 1px;
  margin-top: 4.8rem;
  background-color: var(--border-color);
}
.upload-step:last-child::after {
  display: none;
}

.upload-step > div:not(:last-of-type) {
  margin-bottom: 4.8rem;
}

.upload-step_title {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 1.8rem;
}
.upload-step_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.7rem;
  height: 5.7rem;
  margin-right: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}
.upload-step_icon::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: var(--border-color);
  border-radius: 50%;
}

.upload-step_thumbnail video {
  margin-bottom: 1.8rem;
}

.keywords {
  display: inline-block;
}
.keywords:not(:first-of-type) {
  margin-left: 0.8rem;
}

/* NOTIFICATIONS */
.notification {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  bottom: 2em;
  color: var(--font-color-light);
  display: flex;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0 1em;
  position: fixed;
  right: 2em;
  width: 50%;
}
.notification img {
  padding: 1em 0.5em;
}
.notification span {
  flex-grow: 1;
}
.notification .close {
  background: none;
  float: right;
  padding-right: 0;
}
.notification.success {
  background-color: var(--notification-success-color);
}
.notification.error {
  background-color: var(--notification-error-color);
}

/* PAGE ADMIN */

.admin .container {
  display: flex;
  min-height: 130px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
}

.admin video {
  border-radius: 3px;
  height: 122px;
  margin-right: 1em;
  width: 233px;
}

.admin .video-details {
  flex-grow: 1;
}

.admin .video-details h1 {
  font-size: inherit;
}

.admin .video_metadata,
.admin .video_keywords {
  margin-left: 0;
}

.admin .video_keywords,
.admin .video_keywords li {
  display: inline-block;
}

.admin button {
  height: 40px;
  min-width: 180px;
  width: 180px;
}

/* PAGE CONVENTION/CHARTE */
.convention ul {
  list-style-type: disc;
}
.convention li {
  padding: 0 1.2rem;
}

/* PAGE CATEGORIES  */
.category + .center-wrapper {
  margin-top: 3.2rem;
}

/* RESPONSIVE */

.mobile-only {
  display: none;
}

@media (max-width: 980px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 1.8rem;
  }
  h2,
  h4 {
    font-size: 1.6rem;
  }

  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }

  header {
    margin-top: 0;
    padding: 0;
  }
  header .wrapper {
    display: flex;
    justify-content: space-between;
  }
  header .wrapper > img:first-child {
    width: 9.4rem;
    height: auto;
  }
  header .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 8.8rem;
    margin-left: auto !important;
    margin-bottom: 0;
  }
  header .logo::after {
    content: "";
    position: absolute;
    top: -2.1rem;
    left: 0;
    display: block;
    height: 10.4rem;
    width: 8.8rem;
    border-radius: 0 0 7.3rem 7.3rem;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0 var(--shadow);
    z-index: 1;
  }
  header .logo img {
    position: relative;
    width: 7.2rem;
    height: auto;
    margin: 0 auto;
    z-index: 2;
  }
  .menu-opener {
    display: flex;
  }

  main {
    padding-top: 4rem;
    padding-bottom: 4.8rem;
  }

  footer {
    font-size: 1rem;
    padding: 0;
  }
  footer img {
    width: 11rem;
  }
  .rf-logo__image--custom {
    margin: 0;
  }
  .rf-footer__brand,
  .rf-footer__content {
    flex-basis: 100%;
  }
  .rf-footer__bottom {
    flex-wrap: wrap;
  }
  .rf-footer__bottom-list {
    padding: 0.5rem 0;
  }
  .rf-footer__bottom-copy {
    margin: 1rem 0 0;
  }

  .grid {
    grid-template-columns: 100%;
  }
  .cols_height-four > .active,
  .cols_height-four > div:last-of-type {
    width: 100%;
    padding: 0;
    border: none;
  }

  .card,
  .card_img,
  .card_content {
    height: auto;
  }

  .home-title_wrapper {
    display: block;
  }

  .breadcrumbs {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }
  .video_details {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }
  .video_details > div {
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
  .video_resources {
    margin-top: 2.4rem;
  }
  .video_keywords {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }
  .video_keywords li {
    margin-bottom: 1.2rem;
  }
  .video_keywords li:not(:first-of-type) {
    margin-left: 0.8rem;
  }
  .video_details::after {
    display: none;
  }

  label {
    font-size: 1.2rem;
    text-align: left;
  }

  .video_contribution {
    margin-top: 2.3rem;
  }
  .video_contribution form .form__group + .form__group {
    margin-top: 2.4rem;
    text-align: center;
  }
  .video_contribution button {
    margin-top: 2.4rem;
  }

  .comment_wrapper h2 {
    margin-bottom: 3.2rem;
  }
  .comment::after {
    width: 50%;
    margin-top: 2.4rem;
  }
  .comment_avatar {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 3.2rem;
  }
  .comment_content h3 {
    font-size: 1.6rem;
  }
  .comment_link {
    font-size: 1.2rem;
  }

  .video_suggestion {
    overflow: unset;
    max-height: 100%;
  }

  .mobile-tabs {
    display: block;
  }
  .mobile-tabs h2,
  .mobile-tabs h4 {
    display: none;
  }
  .mobile-tabs .active {
    display: block;
  }
  .mobile-tabs .tab-headers {
    display: flex;
    margin-bottom: 1.6rem;
    width: 100vw !important;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .mobile-tabs .tab-headers a {
    flex-grow: 1;
    font-size: 1.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    background-color: var(--tabs-background);
    border-top: 1px solid var(--tabs-border);
    border-bottom: 1px solid var(--tabs-border);
  }
  .mobile-tabs .tab-headers a:not(:first-of-type) {
    border-left: 1px solid var(--tabs-border);
  }
  .mobile-tabs .tab-headers a.active {
    background-color: var(--font-color-light);
    border-bottom: transparent;
  }
  .mobile-tabs > div {
    display: none;
  }
  ::placeholder {
    font-size: 12px;
  }

  .upload_steps {
    width: 100%;
  }
  .upload-step {
    padding-bottom: 2rem;
  }
  .upload-step::after {
    margin-top: 2.4rem;
  }
  .upload-step_icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .upload-step_icon img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .upload-step_icon::after {
    width: 2rem;
    height: 2rem;
  }
  .upload-step .btn {
    font-size: 1.2rem;
  }
  .upload_steps .upload-step {
    margin-left: 3.2rem;
  }
  .upload-step > div:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }
  embed {
    height: 100%;
  }
}

/* MODALS */

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--modal-backdrop);
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  z-index: 10;
}

.modal__backdrop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px var(--modal-shadow);
  box-shadow: 0 1px 2px var(--modal-shadow);
  background: var(--default-background);
  padding: 2em;
  max-width: 32em;
}

.modal > :first-child {
  margin-top: 0;
}
