:root {
  --deep-green: #0b554b;
  --green: #006154;
  --light-green: #d9e8e6;
  --lighter-green: #d1df4c;
  --pale-green: #efefcd;
  --ink: #02102d;
  --ink-light: #4d576c;
  --yellow: #ffce00;
  --light-grey: #d9dce1;
  --primary-color: var(--deep-green);
  --primary-color-light: var(--light-green);
  --primary-color-lighter: var(--lighter-green);
  --secondary-color: var(--yellow);
  --font-color: var(--ink);
  --font-color-light: var(--ink-light);
  --menu-hover-color: var(--primary-color-lighter);
  --nav-separator: var(--light-grey);
  --tabs-border: var(--light-grey);
}

main {
  background-color: #f7f7fc;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color-dark);
}

.btn,
.button {
  background-color: var(--green);
}

.btn--secondary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.card_date {
  color: var(--font-color-light);
}

.news_item span {
  color: var(--font-color-light);
}

.search_view {
  background-color: rgba(11, 85, 65, 0.97);
}

.video-grid__insert {
  background-image: linear-gradient(0deg, #083f3f 1%, #015045 100%);
}

.video_metadata a,
.video_keywords a {
  color: var(--primary-color);
}

.video_keywords li {
  background-color: var(--primary-color-light);
}
.video_keywords li:hover {
  background-color: var(--primary-color);
}
.video_keywords li:hover a {
  color: white;
}

.comment_avatar {
  background-color: transparent;
}

#archive .news_item::before {
  background-color: #f7f7fc;
}

.about h1::after {
  width: 36.4rem;
  background-position: top center;
}

.about__service .about__image {
  left: 33%;
}
.about__subject .about__image {
  left: 44%;
  width: 43%;
}

.about__service .about__text::after {
  width: 10rem;
  height: 15rem;
  background-image: url(../images/illustrations/about/smatphone_jaune.png);
  transform: rotate(33deg);
}

.home__participate::after {
  width: 4.6rem;
  height: 5.2rem;
}
.about__participate .about__image::after {
  width: 8.7rem;
  height: 11rem;
  background-image: url(../images/illustrations/about/livre_rouge.png);
}
.about__participate .about__text::after {
  right: -5rem;
  width: 10rem;
  height: 10rem;
  background-image: url(../images/illustrations/about/rapporteur.png);
  transform: rotate(44deg);
}

.about__subject .about__image::after {
  width: 3rem;
  height: 15rem;
  background-image: url(../images/illustrations/about/crayon_jaune.png);
}

article.about__DF {
  align-items: center;
  margin-top: 32rem;
}
.about__DF .about__image {
  margin-right: 4.2rem;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
.about__DF .about__image img {
  width: 23.8rem;
  height: 23.8rem;
}
.about__DF .about__image::after {
  width: 7.3rem;
  height: 7.3rem;
  background-image: url(../images/illustrations/about/fleche_jaune.png);
  transform: rotate(76deg);
}

@media (max-width: 1024px) {
  .mobile-tabs .tab-headers a.active {
    background-color: #f7f7fc;
  }

  aside nav {
    padding-top: 1rem;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .home__participate::after {
    width: 2.4rem;
    height: 2.4rem;
  }
}
