.navbar-item img {
    margin-right: 10px;
}
.card.large {
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    border-radius: 5px;
}
.card-image img {
    object-fit: cover;
    max-height: 173px;
}
.card .video-date {
    position: absolute;
    bottom: 10px;
}
.media-content {
    overflow: hidden;
}
.title.no-padding {
    margin-bottom: 0 !important;
}
footer img {
    max-height: 40px;
}
.modal {
    cursor: pointer;
}
.modal-content {
    height: 90%;
    width: 90%;
}
.modal-content iframe {
    height: 100%;
    width: 100%;
}
em {
    color: #8a22ca;
}
.is-narrow img {
    max-width: 350px;
}