@media (max-width: 749px) {
    .nav__item a, .nav__item .dropdown {
        padding: 0.1em 0.8em;
    }
}
.hero__banner {
    background : center / contain no-repeat url("/bandeau.jpg");
    padding-top: 13.77%;
}
.hero__container {
    font-size: 1.5em;
    min-height: inherit;
    padding: 0;
    position: relative;
}
.hero__logo {
    filter: drop-shadow(0 10px 10px #002856);
    height: 90%;
    left: 50px;
    position: absolute;
}
.hero__container h1,
.hero__container p {
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 3px 10px #000;
}
.hero__banner + .hero__container .hero__logo {
    top: -50px;
    height: 250px;
}
.hero__banner + .hero__container h1,
.hero__banner + .hero__container p {
    padding-left: 200px;
}
.hero__container h1 {
    font-size: 2.5em;
    margin: 0.3em 0.5em 0;
}
.hero__container p {
    margin: 0.5em;
}
@media (max-width: 749px) {
    .hero__logo,
    .hero__banner + .hero__container .hero__logo {
        left: inherit;
        position: inherit;
        top: 10px;
        height: 100px;
    }
    .hero__banner + .hero__container h1,
    .hero__banner + .hero__container p {
        padding-left: 0;
    }
}
.overlay-button {
    top: 1em;
    right: 1.5em;
}
.row {
    flex-wrap: wrap;
}
.card {
    color: inherit;
    flex: none;
    text-decoration: inherit;
    width: 30%;
}
.card:hover, .card:focus, .card:visited, .card:active {
    color: inherit;
    text-decoration: inherit;
}
.card__cover {
    border-bottom: 1px solid #c9d3df;
    cursor: pointer;
}
.card__cover .new-video {
    background-color: rgba(0, 83, 179, 0.7);
    color: #fff;
    line-height: 1.5em;
    position: absolute;
    z-index: 999;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.card__content .card__meta time::after {
    content: "";
}
.row .card {
    margin: 0 1em 1em;
}
@media (max-width: 749px) {
    .row {
        flex-wrap: nowrap;
        overflow-x: scroll;
        flex-direction: row;
    }
    .row .card {
        max-width: 150px;
        width: inherit;
        margin: 0 0.3em;
    }
    .row > .card + .card {
        margin-top: 0;
    }
    .card__cover {
        height: 110px;
    }
    .card__content {
        padding: 1em;
        font-size: 0.5em;
    }
}
.footer__social .icon {
    color: #fff;
}
footer img {
    max-height: 40px;
}
.modal__backdrop {
    cursor: pointer;
    display: none;
}
.modal__backdrop.is-active {
    display: flex;
}
.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
}
.modal {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
video {
    height: 100%;
    width: 100%;
}
em {
    color: #8a22ca;
}
.article__content .container {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
} 
.article__content .container:nth-child(2n) {
    flex-direction: row-reverse;
} 
.article__content .article__image img {
    max-width: 350px;
    flex: 1;
    margin: 1em;
}
.article__content .richtext {
    flex: 2;
}
@media (max-width: 749px) {
    .article__content .container {
        flex-direction: column;
        padding-top: 2em;
    } 
    .article__content .container:nth-child(2n) {
        flex-direction: column;
    } 
    .article__content .article__image img {
        margin: 0;
    }
}
.upload-video {
    display: flex;
    justify-content: center;
    position: relative;
}
.upload-video input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.upload-video .file-cta {
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
    flex-direction: column;
    height: auto;
    padding: 1em 3em;
}
progress .is-large {
    height: 1.5rem;
}
button:disabled {
    opacity: 0.5;
}
.form__group + .button {
    margin-top: 1em;
}
.optout {
    background-color: #f0f0f0;
    width: 100%;
    border-width: 0;
    border-radius: 8px;
    padding: 1em;
}
.logout-button {
    position: relative;
    text-align: center;
    top: -2em;
}
.button-link {
    background: none;
    border: none;
}
#uploaded-video {
    max-height: 300px;
}
.keywords {
    margin-bottom: 1em;
}
.keywords span {
    color: #8393a7;
}
ul.social {
    list-style-type: none;
    padding-left: 0;
}
ul.social li {
    display: inline;
    margin-right: 1em;
}
ul.comment-list {
    list-style-type: none;
    padding-left: 0;
}
ul.comment-list time {
    color: #8393a7;
}
ul.comment-list .comment-author {
    font-weight: 700;
    margin-left: 1em;
}